* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-wrap:normal;
  overflow-x: hidden;

}

ul {
  list-style: none;
}

.top-bar {
  display: flex;
  justify-content:space-between;
  margin-top: 30px;
  margin-left: 12px;
}

.top-bar nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-right: 60px;
}

.top-bar ul a{
 text-decoration: none;
 padding: 7px;
}

.logo {
  font-family: serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  text-decoration: none;
  padding-left: 100px;
}
/* 
.left-ellipse {
  background-image: url('images/Ellipse11.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 35px;
  height: 25px;
  margin-top: 120px;
  margin-left: -10px;
}

.center-ellipse1 {
  background-image: url('images/Ellipse5.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  margin-left: 600px;
}

.center-rectangle {
  background-image: url('images/Rectangle7.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 40px;
  height: 35px;
  margin-left: 600px;
  margin-top: -30px;
}

.center-ellipse2 {
  background-image: url('images/Ellipse8.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  margin-left: 250px;
  margin-top: -100px;
}

.right-ellipse {
  background-image: url('images/Ellipse3.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  margin-left: 1250px;
  margin-top: 100px;
}

.right-rectangle {
  background-image: url('images/Rectangle4.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 35px;
  width: 80px;
  height: 60px;
  margin-left: 1230px;
  margin-top: -100px;
} */

.text p {
  font-family: serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #344563;
 
}

.text h1 {
  width: 327px;
  height: 100px;
  font-family: serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.social-contact h2 {
  font-family: serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-left: 0px;

}

.social-contact ul {
  background: #fff;
  list-style: none;
  display: flex;
  margin-left: -40px;
  
}
.social-contact ul a {
 padding: 9px;
 margin-left: -10px;
 color: #344563;
  
}

.intro-part {
  display: flex;
  justify-content: center;
  margin-top: 50px;
} 
.wrapper-card {
  margin-top: 200px;
}

.wrapper-first-section {
  width: 1397.4px;
  height: 721.46px;
  left: 34.6px;
  top: 119px;
  background-image: url('images/header-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  
  
}

/* .circle-bottom {
  background-image: url('images/Ellipse15.png');
  width: 20px;
  height: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 180px;
  margin-left: 80px;
}

.ellipse-bottom-center {
  background-image: url('images/Ellipse4.png');
  width: 25px;
  height: 25px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 700px;
  margin-top: -70px;
}

.ellipse-bottom-right {
  background-image: url('images/Ellipse12.png');
  width: 38px;
  height: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 370px;
  margin-top: -40px;
}

.ellipse2-bottom-right {
  background-image: url('images/Ellipse13.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 45px;
  height: 40px;
  margin-left: 350px;
  margin-top: -5px;
}

.rectangle-bottom-center {
  background-image: url('images/Rectangle5.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 95px;
  height: 50px;
  margin-left: 630px;
  margin-top: -47px;
} */

a {
  text-decoration: none;
}

/* ------------------------- */

.tonic {
  display: flex;
  margin-top: 20px;
  color: #6B778C;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.p {
margin-top: 20px;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #344563;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.skills-buttons {
  margin-top: 15px;
}

.counter {
  width: 8px;
  height: 8px;
  margin: 6px auto 6px 6px;
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 28px;
}
.service-card {
  width: 544px;
  height: 448px;
  left: 24px;
  top: 24px;
  margin: 20px auto auto 30px;
}
.wrapper {
  margin-top: 50px;
}


.card {
  display: flex;
  justify-content: center;
  margin: 50px 90px auto 90px;
  border: 1px solid #DFE1E6;

}

 .see-project {
  width: 110px;
  height: 40px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396DF2;
  flex: none;
  order: 0;
  flex-grow: 0;
  border: 1px solid #DFE1E6;
  border-radius: 24px;
  margin-top: 25px;
 }
.image-1 {
  background-image: url('images/snape.png');
  background-size: cover;
  background-repeat: no-repeat;
  
}

.image-2 {
  background-image: url('images/d.png');
  background-size: cover;
  background-repeat: no-repeat;
  
}

.image-3 {
  background-image: url('images/c.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.image-4 {
  background-image: url('images/snapeshoot-portfolio.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.card-image {
 width: 544px;
 height: 448px;
 left: 24px;
 top: 24px;
}

.heading h4 {
  color: #344563;;
}

.header {
  font-family: system-ui;
  color: #7f8cff;
}


.icons-container ul {
  list-style: none;
  display: flex;
  margin-left: -42px;
}

.social-icons {
  padding-left: 5px;
  padding-right: 5px;
}

.languages {
  display: flex;
  text-align: center;
  width: 500px;
  margin-left: -15px;
}
.languages h4 {
  font-family: sans-serif;
}

.languages div {
  padding: 10px;
}

.languages-head {
  width: 500px;
  display: flex;
 justify-content: space-between;
 margin-top: 10px;
  
}

.languages-head div {
  color: #344563;
}

.languages-head img {
  width: 25px;
  height: 25px;
  margin-top: 30px;
}

.about {
  display: flex;
  margin: 10px 90px;
}

.framework {
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 500px;
}
.framework h4{
  font-family: sans-serif;
}

.framework img {
  width: 30px;
  height: 20px;
  margin-top: 22px;
}

.seconed-section {
  margin-left: 90px;
}

.about-button  {
  width: 138px;
  height: 30px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396DF2;
  border: 1px solid #396DF2;;
 border-radius: 5px;
 margin-top: 10px;
}
form {
  margin-right: 60px;
}
.form-first-section {
  width: 1440px;
  height: 846px;
  background-image: url('images/form-bg.png');
  background-size: cover;
  background-color: #396DF2;
  margin-top: 50px;
  border-top-left-radius: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: -10px;
  }
  
  
  
  .form-first-section h2 {
  width: 801px;
  height: 56px;
  left: -213px;
  top: 4734px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 500px;
  }
  
  .form-first-section p {
  width: 327px;
  height: 102px;
  left: 24px;
  top: 4802px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #EBEBFF;
  margin-right: 70px;
    }



  .name {
    top: calc(50% - 18px / 2);
    font-family: "poppins", Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    width: 332px;
    height: 48px;
    border-radius: 8px;
    color: #172b4d;
   
  }
  .email {
    left: 16px;
    right: 38px;
    top: calc(50% - 18px / 2);
    font-family: "poppins", Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    margin: 10px auto;
    height: 48px;
    width: 327px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    color: #172b4d;
    border: 1px solid #cfd8dc;
  }
  .description {
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    display: flex;
    align-items: center;
    margin-left: 557px;
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    width: 327px;
    height: 170px;
    margin-top: 20px;
    margin-right: 560px;
    
  }
  .submit {
    width: 108px;
    height: 35px;
    margin: 20px 10px 10px 650px;
    padding: 20px auto;
    border-radius: 8px;
    font-family: "poppins", Times, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #6070ff;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .submit:hover {background-color: #3e8e41}

.submit:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.java-script h4 {
  margin-top: -1px;
}
.java-script {
  margin-top: -8px;
}
 
@media only screen   
and (min-device-width : 360px)   
and (max-device-width : 640px)  {

  .logo {
    padding-left: -30px ;
    margin-left: -30px;
  }

  html, body {
    overflow-wrap: normal;
  }

  .topbar nav ul {
    margin-right: -10px;
  }

  .intro-part {
    display: flex;
    justify-content: center;
    width: 350px;
    align-items: center;
    margin-left: 50px;
  } 

 .wrapper-first-section {
  width: 375px;
height: 718px;
left: 0px;
top: 0px;
background-image: url('images/mobile.png');
/* background-image: url('images/mobile-1.svg'); */
background-size: cover;
background-repeat: no-repeat;
 }

  .card {
    flex-direction: column;
    margin-left: -1px;
    width: 500px;
    height: 1000px;
    justify-content: flex-start;
    
  }

  .about {
    flex-direction: column;
  }
   
    .card-image {
      width: 600px;
      height: 450px;
      margin-right: 20px;
      
    }

    .service-card {
     width: 327px;
     height: 596px;
     margin-right: 20px;

    }

    .p {
      font-size: 16px;
    }

    .image-2, .image-4 {
      order: -1;
    }

    .about {
      margin-left: 20px;
    }

   .languages {
    flex-direction: column;
   }

   .java-script, .html, .css {
    display: flex;
   }

   .java-script h4 {
    margin-top: 15px;
   }

   .css h4 {
    margin-left: 30px;
   }

   .html h4 {
    margin-left: 30px;
   }

   .java-script {
    margin-left: -7px;
   }

   .languages-head h4 {
    margin-left: -5px;
   }

   .languages-head  img {
    margin-left: -100px;
   }

   .framework img {
    margin-left: -160px;
   }

    html, body {
      overflow-x: hidden;
    } 

    .seconed-section {
      margin-left: -.5px;
      margin-top: 30px;
    }

    .form-first-section {
      width: 575px;
      height: 779px;
      left: 0px;
      top: 5410px;
      background-size: cover;
      background-repeat: no-repeat;
     
    }
}

@media only screen    
and (min-device-width : 640px)   
and (max-device-width : 1007px) {

  .logo {
    padding-left: -30px ;
    margin-left: -30px;
  }

  html, body {
    overflow-wrap: normal;
  }

  .topbar nav ul {
    margin-right: -10px;
  }

  .intro-part {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-left: 20px;
  } 

 .wrapper-first-section {
width: 100%;
left: 0px;
top: 0px;
display: flex;
justify-content: center;
align-items: center;

 }

  .card {
    flex-direction: row;
    
    width: 90%;
    
   
    justify-content: center;
    align-items: center;
    
  }
  .card-image {
    width: 600px;
    height: 300px;
  }
.service-card {
  width: 600px;
  height: 300px;
}
  .about {
    flex-direction: row;
    justify-content: center;
    
  }

  .first-section {
    width: 70%;
    
  }
  .seconed-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    
  }
   

    .service-card {
     width: 70%;
    
    }

    .p {
      font-size:medium;
    }
    .framework {
      display: flex;
      justify-content: space-between;
    }
.languages-head img, .framework img {
  margin-right: 200px;
}
.java-script img, .html img, .css img {
  width: 50%;
}
.form-first-section {
  width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 35px;
}

} 

@media only screen   
and (min-width: 1370px)  
and (max-width: 1605px) {

  
} 











